# docker-compose.pc2.yml
# PC2 - ACTORES DE PRÉSTAMO Y DEVOLUCIÓN (Virtual 1)
# IP PC1 configurada: 192.168.10.12
# IP PC2 (win10): 192.168.0.8
#
# Este PC ejecuta:
# - Actor Préstamo
# - Actor Devolución

services:
  # Actor de Préstamo
  actor_prestamo:
    build:
      context: .
      dockerfile: ./actor_prestamo/Dockerfile
    container_name: actor_prestamo_pc2
    environment:
      - GESTOR_ALMACENAMIENTO=192.168.10.12:5570
    extra_hosts:
      - "gestor_carga:192.168.10.12"
      - "gestor_almacenamiento:192.168.10.12"
    networks:
      - backend
    restart: unless-stopped

  # Actor de Devolución
  actor_devolucion:
    build:
      context: .
      dockerfile: ./actor_devolucion/Dockerfile
    container_name: actor_devolucion_pc2
    environment:
      - GESTOR_CARGA_PUB_ADDR=tcp://192.168.10.12:5556
      - GESTOR_ALMACENAMIENTO=tcp://192.168.10.12:5570
    extra_hosts:
      - "gestor_carga:192.168.10.12"
      - "gestor_almacenamiento:192.168.10.12"
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
    driver: bridge
